*{
    box-sizing: border-box;
}
body{
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cabecalho{
    font-size: 17px;
    display: flex;
    align-items: center;
    flex-direction: row;
    max-width: 100vw;
    width: 100%;
    height: 10vh;
    background-color: #fe8d27;
    justify-content: space-between;
    padding-right: 2cm;
    padding-left: 2cm;
}

.barraPesquisa{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    color: white;
}

.meio{
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
}

.botaoo{
    border: 2px solid  white;
    box-shadow: black;
    padding: 6px 24px;
    color: white;
    border-radius: 3px;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    background:  #fe8d27;
    color: white;
    font-size: 13px;
}

button:focus{
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
}

button:hover{
    color: rgb(255, 255, 255);
    background-color: #fe8d27;
    border: 0px;
}

.labelRelatorio{
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    margin-left: 500px;
    position: relative;
}

.rulf{
    display: flex;
    align-items: center;
    justify-content: center;
}