.menuLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 80vh;
}

.diva{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fe8d27;
}

.btnbtn-primary{
    height: 40px;
    width: 150px;
    border: 2px solid #fe8d27;
    color: #fe8d27;
}


